/* ===== Google Font Import - Poppins ===== */ @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); *{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; transition: all 0.4s ease;; } /* ===== Colours ===== */ :root{ --body-color: #E4E9F7; --nav-color: #4070F4; --side-nav: #010718; --text-color: #FFF; --search-bar: #F2F2F2; --search-text: #010718; } body{ height: 100vh; background-color: var(--body-color); } body.dark{ --body-color: #18191A; --nav-color: #242526; --side-nav: #242526; --text-color: #CCC; --search-bar: #242526; } nav{ position: fixed; top: 0; left: 0; height: 70px; width: 100%; background-color: var(--nav-color); z-index: 100; } body.dark nav{ border: 1px solid #393838; } nav .nav-bar{ position: relative; height: 100%; max-width: 1000px; width: 100%; background-color: var(--nav-color); margin: 0 auto; padding: 0 30px; display: flex; align-items: center; justify-content: space-between; } nav .nav-bar .sidebarOpen{ color: var(--text-color); font-size: 25px; padding: 5px; cursor: pointer; display: none; } nav .nav-bar .logo a{ font-size: 25px; font-weight: 500; color: var(--text-color); text-decoration: none; } .menu .logo-toggle{ display: none; } .nav-bar .nav-links{ display: flex; align-items: center; } .nav-bar .nav-links li{ margin: 0 5px; list-style: none; } .nav-links li a{ position: relative; font-size: 17px; font-weight: 400; color: var(--text-color); text-decoration: none; padding: 10px; } .nav-links li a::before{ content: ''; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); height: 6px; width: 6px; border-radius: 50%; background-color: var(--text-color); opacity: 0; transition: all 0.3s ease; } .nav-links li:hover a::before{ opacity: 1; } .nav-bar .darkLight-searchBox{ display: flex; align-items: center; } .darkLight-searchBox .dark-light, .darkLight-searchBox .searchToggle{ height: 40px; width: 40px; display: flex; align-items: center; justify-content: center; margin: 0 5px; } .dark-light i, .searchToggle i{ position: absolute; color: var(--text-color); font-size: 16px; cursor: pointer; transition: all 0.3s ease; } .dark-light i.sun{ opacity: 0; pointer-events: none; } .dark-light.active i.sun{ opacity: 1; pointer-events: auto; } .dark-light.active i.moon{ opacity: 0; pointer-events: none; } .searchToggle i.cancel{ opacity: 0; pointer-events: none; } .searchToggle.active i.cancel{ opacity: 1; pointer-events: auto; } .searchToggle.active i.search{ opacity: 0; pointer-events: none; } .searchBox{ position: relative; } .searchBox .search-field{ position: absolute; bottom: -85px; right: 5px; height: 50px; width: 300px; display: flex; align-items: center; background-color: var(--nav-color); padding: 3px; border-radius: 6px; box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); opacity: 0; pointer-events: none; transition: all 0.3s ease; } .searchToggle.active ~ .search-field{ bottom: -74px; opacity: 1; pointer-events: auto; } .search-field::before{ content: ''; position: absolute; right: 14px; top: -4px; height: 12px; width: 12px; background-color: var(--nav-color); transform: rotate(-45deg); z-index: -1; } .search-field input{ height: 100%; width: 100%; padding: 0 45px 0 15px; outline: none; border: none; border-radius: 4px; font-size: 14px; font-weight: 400; color: var(--search-text); background-color: var(--search-bar); } body.dark .search-field input{ color: var(--text-color); } .search-field i{ position: absolute; color: var(--nav-color); right: 15px; font-size: 22px; cursor: pointer; } body.dark .search-field i{ color: var(--text-color); } @media (max-width: 790px) { nav .nav-bar .sidebarOpen{ display: block; } .menu{ position: fixed; height: 100%; width: 320px; left: -100%; top: 0; padding: 20px; background-color: var(--side-nav); z-index: 100; transition: all 0.4s ease; } nav.active .menu{ left: -0%; } nav.active .nav-bar .navLogo a{ opacity: 0; transition: all 0.3s ease; } .menu .logo-toggle{ display: block; width: 100%; display: flex; align-items: center; justify-content: space-between; } .logo-toggle .siderbarClose{ color: var(--text-color); font-size: 24px; cursor: pointer; } .nav-bar .nav-links{ flex-direction: column; padding-top: 30px; } .nav-links li a{ display: block; margin-top: 20px; } }

*, *:before, *:after {
  box-sizing: border-box;
}


.footer {

  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}