.srvbtn{

border-radius:50%;

padding:5px;

font-size:32px;

	height:50px;	width:50px;

border:0px;

background-color:#184ee1;

color:white;

}

.outbtn{

margin:10px;

}

.textcp{

font-size:8px;
text-align:center;
	color:#184ee1;

}

	.servicebxi{

display: flex;

         

         align-items: center;

         margin-top: 10px;

       justify-content: flex-end;

/*          overflow-x: scroll; */

		

	}
